$corDeFundo: #000000;
$corTextoPrincipal: #f5c518;
$corTextoBotao: #000000;
$corTextoSecundary: #fff;
$corDeFundoBotaoPrimario: #f5c518;
$corDeFundoBotaoSecundario: #f5c518;
$corDeFundoBotaoDark: #f5c518;
